@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
	font-size: 16px;
}

body {
	background-color:rgb(3,50,203);
	background-image: url(/myfiles/fon.jpg);
	background-attachment:fixed;
	background-size:cover;
	margin:0px 0 0px 0px;
	font-family: 'Open Sans', sans-serif;
	height:100%;
}

html, #app{
	height:100%;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 12px;
	}

@media screen and (max-width: 278px) {
	html {
		font-size: 8px;
	}
}
}

.conForThem {
	font-family: 'Arial';
	font-size: 0.91rem;
	margin: 5px 0;
}

.conForThem p, .content-container p {
	margin:0;
}

.conForThem blockquote, details {
	margin: 0 0;
	color:darkgrey;
}

.conForThem figure.image_resized img {
	width:100%;
}